
body {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header nav nav"
        " main main main"
        "footer footer footer";
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align:right;
    text-shadow: 2px 2px 4px blue ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    row-gap: 0.5em;
    width: 20em;
}




main {
    min-height: 80vh;
    display: grid;
    align-items: center;
    padding-left:10em;
    animation: backround_color_change 40s infinite;}
   

@keyframes backround_color_change {
    0%,100% {
        background-color:rgb(233, 170, 34)
    }
25%,75% {background-color: rgb(223, 107, 12);}

50% {background-color: rgb(226, 147, 43);}
 
}
